body{
	font-family:Arial,sans-serif;
	background:#f5f5f5;
	color:#333;
	padding:0;
	margin:0;
}
header{
	background:#4a90e2;
	padding:1rem 2rem;
	color:#fff;
}
nav a{
	text-decoration:none;
	margin-right:1.2rem;
	font-weight:bold;
	color:#fff;
}
nav a:hover{
	text-decoration:underline;
}
#cvs{
	background:#000;
}
.semi-bold{
	opacity:.75;
}
.justify{
	text-align:justify;
}
sub,sup{
	opacity:.7;
}
.container{
	box-shadow:0 0 10px rgba(0,0,0,.1);
	margin:2rem auto;
	background:white;
	max-width:800px;
	padding:1.5rem;
}
img{
	box-shadow:0 0 14px .95px rgba(0,0,0,.19)
}
.post{
	border-top:1px solid #000;
	margin-bottom:2rem;
}
.post-title{
	text-decoration:none;
	color:#4a90e2;
}
.post-title:hover{
	text-decoration:underline;
}
.post-date{
	font-size:.9rem;
	color:#888;
}
.content-mask{
	-webkit-mask-image:linear-gradient(90deg,#000 97%,transparent);
	width:fit-content;
}
#b1{
	ul{
		list-style-type:none;
		margin-top:8px;
	}
}
.left,.right{
	float:left;
}
.left{
	width:calc(60% - 15px);
}
.right{
	width:40%;
}
iframe{
	aspect-ratio:16/9;
	margin-right:5%;
	margin-left:5%;
	width:90%;
}
@media screen and (max-width:800px){
	.left,.right{
		width:100%;
	}
}